* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    background-image: linear-gradient(
        to left bottom,
        #d14da8,
        #bb529b,
        #a6558d,
        #91577f,
        #7c5771
    );
}
