@import 'variables';

.post-it {
    display: inline-block;
    width: 100%;
    background-color: $color-cherry-blossom-pink;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.3s;

    .post-it-title {
        margin-bottom: 1rem;
    }
    .post-it-text {
        display: flex;
        margin-bottom: 1rem;
        gap: 1rem;
    }

    &:hover {
        transform: scale(1.03);
    }
}
// Con sass es posible cambiar una clase si el contenido html de un tag es uno u otro? Por ejemplo si dentro de <p> dice "Alta" o "Baja"
