$color-cherry-blossom-pink: #ffb6c1ff;
$color-sky-blue: #87ceebff;
$color-light-green: #98fb98ff;
$color-mindaro: #ffff99ff;
$color-sunglow: #ffcf70ff;

$color-black-opacity: rgba(0, 0, 0, 0.6);

$color-blue-focus: #5043c7;
$color-green: #008531;
$color-green-hover: #00b140;

$color-red: #8f1500;
$color-red-hover: #ff0000;
